@model LMC_Pallet_GetPalletRecords_VM

@{
    ViewData["Title"] = "Pallet Record Details";
}


<div class="container mt-4">

    <h2 class="text-center">Pallet Record Details</h2>

    <form asp-controller="LMC_Pallet_GetPalletRecords" asp-action="Index" method="get">
        <div class="row">
            <div class="col-md-6">
                <label asp-for="SerialNumber" class="form-label">Serial Number:</label>
                <input asp-for="SerialNumber" type="text" class="form-control" value="@Model.SerialNumber" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="ScaleID" class="form-label">Scale ID:</label>
                <input asp-for="ScaleID" type="text" class="form-control" value="@Model.ScaleID" />
                <span asp-validation-for="ScaleID" class="text-danger"></span>
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-2">Submit</button>

    </form>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Serial No</th>
                    <th>Pallet No</th>
                    <th>Product No</th>
                    <th>Lot No</th>
                    <th>Sartori Lot No</th>
                    <th>Stock Number</th>
                    <th>Mfg No</th>
                    <th>Product Date</th>
                    <th>Pack Date</th>
                    <th>Make Date</th>
                    <th>Case Weight</th>
                    <th>Tare Weight</th>
                    <th>Average Weight</th>
                    <th>Shelf Life</th>
                    <th>Total Case Count</th>
                    <th>Label Size</th>
                    <th>Header</th>
                    <th>Description</th>
                    <th>Collection Time</th>
                    <th>Collected</th>
                    <th>ID</th>
                    <th>Exported</th>
                    <th>Insert Date</th>
                </tr>
            </thead>

            <tbody>
                @if (Model.Lo_Pallet_PalletRecordDetails.Count == 0)
                {
                    <tr>
                        <td colspan="7">No data available</td>
                    </tr>
                }
                else
                {
                    @foreach (var item in Model.Lo_Pallet_PalletRecordDetails)
                    {
                        <tr>
                            <td>@item.SerialNumber</td>
                            <td>@item.PalletNumber</td>
                            <td>@item.ProductNumber</td>
                            <td>@item.LotNumber</td>
                            <td>@item.SartoriLotNumber</td>
                            <td>@item.StockNumber</td>
                            <td>@item.MfgNumber</td>
                            <td>@item.ProductDate</td>
                            <td>@item.PackDate</td>
                            <td>@item.MakeDate</td>
                            <td>@item.CaseWeight</td>
                            <td>@item.TareWeight</td>
                            <td>@item.AverageWeight</td>
                            <td>@item.ShelfLife</td>
                            <td>@item.TotalCaseCount</td>
                            <td>@item.LabelSize</td>
                            <td>@item.Header</td>
                            <td>@item.Description</td>
                            <td>@item.CollectionTime</td>
                            <td>@item.Collected</td>
                            <td>@item.ID</td>
                            

                            <td>
                                @if (item.Exported.HasValue)
                                {
                                    @(item.Exported.Value ? "Yes" : "No")
                                }
                                else
                                {
                                    @("N/A")
                                }
                            </td>

                            <td>@item.InsertDate</td>
                        </tr>
                    }

                }
            </tbody>
        </table>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}