@model LMC_InvData_RecordDetail_VM

@{
    ViewData["Title"] = "Inventory Data Record Detail";
}

<div class="container mt-4">   

    <h2 class="text-center">Record Details</h2>

    <form method="get">
        <div class="row">
            <div class="col-md-6">
                <label for="serialNumber" class="form-label">Serial Number:</label>
                <input type="serialNumber" class="form-control" name="serialNumber" id="serialNumber" value="@Model.SerialNumber" />
            </div>
            <div class="col-md-6">
                <label for="scaleID" class="form-label">Scale ID:</label>
                <input type="scaleID" class="form-control" name="scaleID" id="scaleID" value="@Model.ScaleId" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Go</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>SerialNo</th>
                <th>PalletNo</th>
                <th>ProductNo</th>
                <th>LotNo</th>
                <th>SartoriLotNumber</th>
                <th>StockNumber</th>
                <th>MfgID</th>
                <th>ProductDate</th>
                <th>PackDate</th>
                <th>MakeDate</th>
                <th>CaseWeight</th>
                <th>TareWeight</th>
                <th>AverageWeight</th>
                <th>ShelfLife</th>
                <th>TotalCaseCount</th>
                <th>LabelSize</th>
                <th>Header</th>
                <th>Description</th>
                <th>CollectionTime</th>
                <th>Collected</th>
                <th>ID</th>
                <th>Exported</th>
                <th>InsertDate</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.lo_InvData_RecordDetails)
            {
                <tr>
                    <td>@item.SerialNo</td>
                    <td>@item.PalletNo</td>
                    <td>@item.ProductNo</td>
                    <td>@item.LotNo</td>
                    <td>@item.SartoriLotNumber</td>
                    <td>@item.StockNumber</td>
                    <td>@item.MfgID</td>
                    <td>@item.ProductDate</td>
                    <td>@item.PackDate</td>
                    <td>@item.MakeDate</td>
                    <td>@item.CaseWeight</td>
                    <td>@item.TareWeight</td>
                    <td>@item.AverageWeight</td>
                    <td>@item.ShelfLife</td>
                    <td>@item.TotalCaseCount</td>
                    <td>@item.LabelSize</td>
                    <td>@item.Header</td>
                    <td>@item.Description</td>
                    <td>@item.CollectionTime</td>
                    <td>@item.Collected</td>
                    <td>@item.ID</td>
                    <td>@item.Exported</td>
                    <td>@item.InsertDate</td>
                </tr>
            }
        </tbody>
    </table>
</div>